.login{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        display: flex;
        width: 60%;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        background-color: white;

        .left{
            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(105, 79, 158, 0.5)), url('https://images.pexels.com/photos/8789663/pexels-photo-8789663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

           h1{
                font-size: 100px;
                line-height: 100px;
            }
            p{

            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                background-color: white;
                padding: 10px;
                border: none;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 50px;
            h1{
             color: #555555;   
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    outline: none;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

        }
    }
}